header {
    background-color: #07f9a2;/*cor de fundo do cabeçalho*/
    color: black;
    text-align: center;/*centralizar texto*/
    padding: 20px; /*almentar faixa do cabeçalho*/
   
}


.joao01  {
   padding: 150px; 
   /*tamanho da faixa de sessão*/
  background-color: #09c184;
  /*cor de fundo da sessão 01*/
  
  
 
}

.joao02 {
    padding: 150px;
    /*tamanho da faixa de sessão*/
    background-color: #0a8967;
    /*cor de fundo da sessão 02*/
    
}

.joao03 {
    padding: 150px;
    /*tamanho da faixa de sessão*/
    background-color: #0c5149;
    /*cor de fundo da sessão 03 */

}
button {
    color: rgb(118, 230, 230);
    font-size: 20px;
    background-color: #0d192b;
}

footer {
    background-color: #0d192b;
    /*cor de fundo do rodapé*/
    padding: 40px;
    /*tamanho da faixa do rodapé */
    text-align: center;
    /*centralizar texto */
    color: aliceblue;
    /*cor da letra do cabeçalho*/
    font-size: 30px;
}
