header {
    background-color: #db3026;/*cor de fundo do cabeçalho*/
    padding: 20px; /*almentar faixa do cabeçalho*/
  display: flex; /*responsavel torna os intens flex e deixar lado a lado */
  justify-content: center;/*organizaçao  dos conteudos dentro do cabeçalho */
  gap: 20px; /*serve para da espaço entre h1 e img */
  align-items: center;/*alinhamento de  itens */
} 


 header h1 { /*estilizando o titulo*/
    color: rgb(9, 10, 1);/*cor da letra do cabeçalho*/
    text-align: center;/*centralizar texto*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*fontes do cabeçalho*/
    font-size: 50px; /*amentar o tamanho do texto*/
    

 }
 
 

 
header img { /*estilizando a imagem */
    width: 100px; /*largura da logo*/



}

header nav li {
    font-size: 20px;
    width: 30px;
}

.joao01  {
   padding: 150px; 
   /*tamanho da faixa de sessão*/
  background-color:#e88a25;
  /*cor de fundo da sessão 01*/
  display: flex;/*deixando flex /lado a lado */
  justify-content: center;/*justificando conteudo ao centro */
  align-items: center; /*alinhando os intes ao centro*/
  gap: 20px;/* espaço/respiro/entre os itens*/
  
  
 
 
}
 figcaption span {
    color: #db3026;
    font-size: 20px;
    
 }
nav ul li a  {
    color: rgb(14, 3, 114);/*cor da letras */
}

.joao02  {
    padding: 50px;
    /*tamanho da faixa de sessão*/
    background-color:#f9e14b;
    /*cor de fundo da sessão 02*/
    
 
}
.joao02 i {
    width: 10px;/*largura da logo*/
    padding: 20px;/*tamanho da faixa da sessão */
    font-size: 50px; /*almentar o tamanho da fonte ou texto*/
}
   


.joao03 {
    padding: 150px;
    /*tamanho da faixa de sessão*/
   background-image: url(imagem/food-4602924_1280.jpg); /*url: caminho da imagem */
    /*cor de fundo ou imagem  da sessão 03 */
    background-position: center;/*posiçao da imagem */
    background-size: cover;/* preenchimento total da imagem */
    display: flex; /*tornando os intens flex*/
    justify-content: center; /*aliamento do botao*/

}
.joao03 p{
    color: aqua;/* cor da leta */
    font-style: 20px;/*tamanho da fonte ou texto */
    text-align: center;/*centralizar texto*/
    background-position: left;/*centralizar funto do site */
}
button {
    color: rgb(62, 231, 231);/*cor do botão*/
   border-radius: 5px;/*borda do botao */
    background-color: #010816;/*cor de fundo */
   width: 150px;/*largura da logo */
   padding: 10px;/*tamanho da faixa */
   font-style: 100px;/*almentar o tamanho do texto*/
    
    
}

footer {
    background-color: #0d192b;
    /*cor de fundo do rodapé*/
    padding: 40px;
    /*tamanho da faixa do rodapé */
    text-align: center;
    /*centralizar texto */
    color: aliceblue;
    /*cor da letra do cabeçalho*/
    font-size: 30px;/*tamanho da fonte ou texto */
  gap: 20px;
}
footer i {
    font-size: 40px;/*tamanho da fonte ou texto*/
   
   
}
