header {
    background-color: #07f9a2;/*cor de fundo do cabeçalho*/
    padding: 20px; /*almentar faixa do cabeçalho*/
  display: flex; /*responsavel torna os intens flex e deixar lado a lado */
  justify-content: center;/*organizaçao  dos conteudos dentro do cabeçalho */
  gap: 20px; /*serve para da espaço entre h1 e img */
  align-items: center;/*alinhamento de  itens */
} 


 header h1 { /*estilizando o titulo*/
    color: rgb(14, 2, 2);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*fotes do cabeçalho*/
    font-size: 30px; /*amentar o tamanho do texto*/
    

 }

 
header img { /*estilizando a imagem */
    width: 70px; /*largura da logo*/


}

header nav u

.joao01  {
   padding: 150px; 
   /*tamanho da faixa de sessão*/
  background-color: #09c184;
  /*cor de fundo da sessão 01*/
  display: flex;/*deixando flex /lado a lado */
  justify-content: center;/*justificando conteudo ao centro */
  align-items: center; /*alinhando os intes ao centro*/
  gap: 20px;/* espaço/respiro/entre os itens*/
  
 
 
}

.joao02  {
    padding: 150px;
    /*tamanho da faixa de sessão*/
    background-color: #fe0557;
    /*cor de fundo da sessão 02*/
 
}
.joao02 i {
    font-size: 50px;/*tamanho da fonte ou texto */
    color: rgb(17, 3, 138);/*cor do texto*/
}


.joao03 {
    padding: 150px;
    /*tamanho da faixa de sessão*/
   background-image: url(imagem/coffee-4480463_1280.jpg); /*url: caminho da imagem */
    /*cor de fundo ou imagem  da sessão 03 */
    background-position: center;/*posiçao da imagem */
    background-size: cover;/* preenchimento total da imagem */
    display: flex; /*tornando os intens flex*/
    justify-content: center; /*aliamento do botao*/

}
button {
    color: rgb(41, 235, 235);/*cor do botão*/
   border-radius: 5px;
    background-color: #04298f;/*cor de fundo */
    width: 150px;
    padding: 10px;
    
}

footer {
    background-color: #0d192b;
    /*cor de fundo do rodapé*/
    padding: 40px;
    /*tamanho da faixa do rodapé */
    text-align: center;
    /*centralizar texto */
    color: aliceblue;
    /*cor da letra do cabeçalho*/
    font-size: 30px;/*tamanho da fonte ou texto */
  gap: 20px;
}
footer i {
    font-size: 40px;
   
   
}
