

/*estilizando o heder*/
header {
    padding: 20px;/*responsavel pelo preenchimento e tamanho */
    background-color: #e81e4a;/* cor de fundo */
    display: flex;/*tornando os intens flex lado a lado */
    justify-content: center;/*justificando o conteudo ao centro*/
    gap: 25px;/*espaço entre os elementos*/
    align-items: center;/*responsavel por alinha os intens */
}

header img {
   
   width: 100px;/*tamanho da imagem */

}

header h1 {
    color: rgb(15, 15, 2);/*cor da letra */
    font-size: 50px;/*tamanho da letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipo da fonte*/

}
/* fim do cabeçaalho*/




/*inicio da seção*/

.arthur {
    padding: 160px;/*responsa pelo preenchimento */
    background-color: #0b1d21;/*cor de fundo */
    display: flex;/*tornando os intens flex lado a lado */
    justify-content: center;/*justificando os conteudo ao centro */
    align-items: center;/*responsavel por alinha os itens */
    gap: 60px;
}

.arthur img{
width: 400px;/*largura da imagem*/
height: 300px;/*autura da imagem*/
}
.arthur p {
    color: aliceblue;/*cor da letra */
    font-size: 30px;/*tamanho da letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipo da fonte */
}
.arthur span {
    font-size: 50px;/*tamanho da letra */
    color: rgb(238, 7, 7);/*cor da letra */

}
/*fim da primeira sessão*/


/*inicio da segunda sessão*/
.manu {
    background-color:#078a85;/*cor de fundo */
    padding: 160px;/*responsavel pelo preenchimento*/
    display: flex;/*tornando os itens flex lado a lado */
    justify-content: center;/*justifando os conteudo ao centro */
    align-items: center;/*responssavel por alinha os itens */
    gap: 30px;/*espaço entre os elementos */
    flex-direction: column;
    
}
.manu i {
    font-size: 50px;
    color: rgb(15, 3, 175);/*cor da letra */
    
}
.manu p {
    color: rgb(22, 14, 2);/*cor da letra */
    font-size: 30px;/*tamanho da letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*fonte do texto*/
}
/*fim da segunda sessão*/




/*inicio da terceira sessão*/
.enzo {
    padding: 150px;/*responssavel pelo preenchimento */
    background-image: url(img/cartoon-6613804_1280.jpg);/*up img*/
    background-position: center;/*posição da imagem */
    background-size: cover;/*preenchimento da imagem */
    background-repeat: no-repeat;/*desabilitando repetição da imagem */
    background-attachment: fixed;/*fixação da imagem */
}
.enzo button {
    padding: 20px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.356);
    color: rgb(27, 11, 247);
}


footer {
    background-color: #68baab;
}
